@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}

.board {
  border: 1rem solid black;
  background: black;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

.squares {
  border: none;
  font-size: 5rem;
}

.squares {
  background: lightsteelblue;
  color: black;
  border: none;
  font-size: 5rem;
  cursor: pointer;
  outline: none;
}

.info-wrapper button {
  background-color: lightsteelblue;
  border-radius: 1.25rem;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
}

h1 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.25rem;
  margin-top: 1rem;
}
